*{
    background-color: #212529;
    font-family: 'JetBrains Mono', monospace;
}

.welcome {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 800;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.date {
    font-size: 0.9em;
    font-family: 'JetBrains Mono', monospace;
}
/* // Info from Google Fonts website:
<weight>: Use a value from 100 to 800
<uniquifier>: Use a unique and descriptive class name */
/* 
.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.meme-form{
    max-width: 500px
}

.preview-meme{
    width: 100%;
    max-width: 800px;
    height: auto;
    overflow: hidden;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

#meme-image{
    display: block;
    width: 80%;
    height: auto;
    object-fit: contain;
    max-height: 55vw;
}

.main-header{
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    height: 40vh;
    min-height: 400px;
    max-height: 400px;
    width: 100%;
}

@media (max-width: 792px) {
  .main-header {
    height: 20vh;
    min-height: 100px;
    max-height: 200px;
    background-repeat: no-repeat;
    background-position: 80% top;
  }
}

.nav-link{
    background-color: #2081b5 !important;
    font-weight: 600 !important;
}

.nav-link:hover {
    background-color: #0DCAF0 !important;
}

.generate{
    background-color: #dcb75b !important;
    color: black !important;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #212529;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #2081b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #dcb75b;
    color: black;
}

.meme-form input{
    color: black !important;
}