SECRET_KEY=SecretSecretSecretShhhhhh!
DB_DATABASE=dev_meme_db
DB_USERNAME=root
DB_PASSWORD=Letmein123!
DB_HOST=localhost
DB_DIALECT=mysql
DB_PORT=3306
IMGFLIP_USERNAME=yourusername
IMGFLIP_PASSWORD=yourpassword